<app-generic-form
  [service]="documentService"
  [columns]="columns"
  [filters]="filters"
  [disabled]="disabled"
  [formGroup]="documentForm"
  (formValueChange)="onFormValueChange($event)"
  (formStatusChange)="onFormStatusChange($event)"
>
  <ng-template
    #formFields
    let-model="model"
    let-form="form"
    let-disabled="disabled"
  >
    <div [formGroup]="documentForm" class="flex justify-center items-end gap-4">
      <!-- === NOMBRE === -->
      <p-floatlabel variant="in" class="field">
        <input
          pInputText
          type="text"
          name="nombre"
          formControlName="nombre"
          placeholder="Obligatorio"
        />
        <label for="on_label">Nombre</label>

        @if (documentForm.get('nombre')?.invalid &&
        (documentForm.get('nombre')?.touched ||
        documentForm.get('nombre')?.dirty)) {
        <p-message severity="error" size="small" variant="simple">
          Nombre es requerido.
        </p-message>
        }
      </p-floatlabel>

      <!-- === TITULO === -->
      <p-floatlabel variant="in" class="field">
        <input
          pInputText
          type="text"
          name="titulo"
          formControlName="titulo"
          placeholder="Obligatorio"
        />
        <label for="on_label">Titulo</label>
        @if (documentForm.get('titulo')?.invalid &&
        (documentForm.get('titulo')?.touched ||
        documentForm.get('titulo')?.dirty)) {
        <p-message severity="error" size="small" variant="simple">
          Título es requerido.
        </p-message>
        }
      </p-floatlabel>

      <!-- === DESCRIPCIÓN === -->
      <p-floatlabel variant="in" class="field">
        <input
          pInputText
          type="text"
          name="descripcion"
          placeholder="Obligatorio"
          formControlName="descripcion"
        />
        <label for="on_label">Descripcion</label>
        @if (documentForm.get('descripcion')?.invalid &&
        (documentForm.get('descripcion')?.touched ||
        documentForm.get('descripcion')?.dirty)) {
        <p-message severity="error" size="small" variant="simple">
          Descripción es requerida.
        </p-message>
        }
      </p-floatlabel>
    </div>
  </ng-template>
</app-generic-form>
