<app-generic-form
  [service]="documentService"
  [columns]="columns"
  [filters]="filters"
  [disabled]="disabled"
  [formGroup]="documentForm"
>
  <ng-template
    #formFields
    let-model="model"
    let-form="form"
    let-disabled="disabled"
  >
    <p-fluid>
      <div
        [formGroup]="documentForm"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
      >
        <!-- === NOMBRE === -->
        <p-floatlabel variant="in">
          <input
            id="nombre"
            type="text"
            pInputText
            formControlName="nombre"
            placeholder=" "
            fluid
          />
          <label for="nombre">Nombre</label>
          @if (documentForm.get('nombre')?.invalid &&
          (documentForm.get('nombre')?.touched ||
          documentForm.get('nombre')?.dirty)) {
          <div class="mt-2">
            <p-message severity="error" size="small" variant="simple">
              Nombre es requerido.
            </p-message>
          </div>
          }
        </p-floatlabel>
        <!-- === TITULO === -->
        <p-floatlabel variant="in">
          <input
            id="titulo"
            type="text"
            pInputText
            formControlName="titulo"
            placeholder=" "
            fluid
          />
          <label for="titulo">Título</label>
          @if (documentForm.get('titulo')?.invalid &&
          (documentForm.get('titulo')?.touched ||
          documentForm.get('titulo')?.dirty)) {
          <div class="mt-2">
            <p-message
              severity="error"
              size="small"
              variant="simple"
              class="mt-2"
            >
              Título es requerido.
            </p-message>
          </div>
          }
        </p-floatlabel>
        <!-- === DESCRIPCIÓN === -->
        <p-floatlabel variant="in">
          <input
            id="descripcion"
            type="text"
            pInputText
            formControlName="descripcion"
            placeholder=" "
            fluid
          />
          <label for="descripcion">Descripción</label>
          @if (documentForm.get('descripcion')?.invalid &&
          (documentForm.get('descripcion')?.touched ||
          documentForm.get('descripcion')?.dirty)) {
          <div class="mt-2">
            <p-message severity="error" size="small" variant="simple">
              Descripción es requerida.
            </p-message>
          </div>
          }
        </p-floatlabel>
        <!-- === IMAGEN === -->
        <p-floatlabel variant="in" class="field">
          <app-generic-image-upload
            [formGroup]="documentForm"
            controlName="imagen"
          ></app-generic-image-upload>
          @if (documentForm.get('imagen')?.invalid &&
          (documentForm.get('imagen')?.touched ||
          documentForm.get('imagen')?.dirty)) {
          <div class="mt-2">
            <p-message
              severity="error"
              size="small"
              variant="simple"
              class="error-message"
            >
              La Imagen es requerido.
            </p-message>
          </div>
          }
        </p-floatlabel>
      </div>
    </p-fluid>
  </ng-template>
</app-generic-form>
