<div class="flex align-items-center justify-content-center min-h-screen ">
  <p-toast></p-toast>
  <div class="surface-card p-6 shadow-2 border-round-3xl w-full sm:w-30rem login-card">
    <div class="text-center mb-5">
      <i class="pi pi-shield text-5xl text-primary"></i>
      <div class="text-2xl font-bold mt-3">Bienvenido</div>
      <div class="text-color-secondary mt-2">Inicie sesion para continuar</div>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="field mb-4">
        <label for="email" class="block text-900 font-medium mb-2">Correo electronico</label>
        <input
          pInputText
          id="email"
          type="email"
          formControlName="email"
          placeholder="Email address"
          class="w-full"
        />
      </div>

      <div class="field mb-3">
        <label for="password" class="block text-900 font-medium mb-2">Contrseña</label>
        <p-password
          id="password"
          formControlName="password"
          [toggleMask]="true"
          placeholder="Password"
          inputStyleClass="w-full"
        ></p-password>
      </div>

      <div class="flex align-items-center justify-content-between mb-5">
        <div class="flex align-items-center">
          <p-checkbox formControlName="remember" binary="true"></p-checkbox>
          <label class="ml-2">Recordar</label>
        </div>
        <a class="text-primary text-sm cursor-pointer">¿Olvidaste la contraseña?</a>
      </div>

      <button
        pButton
        type="submit"
        label="Iniciar Sesion"
        class="w-full"
      ></button>
    </form>
  </div>
</div>
