<div class="card">
  <p-tabs [(value)]="activeIndex">
    <p-tablist>
      <p-tab value="0">Formulario</p-tab>
      <p-tab value="1">Datos</p-tab>
    </p-tablist>

    <p-tabpanels>
      <!-- === FORMULARIO === -->
      <p-tabpanel value="0">
        <!-- Formulario Reactivo -->
        <form *ngIf="formGroup" [formGroup]="formGroup" class="form-container">
          <ng-container
            [ngTemplateOutlet]="formFieldsTpl"
            [ngTemplateOutletContext]="{
              form: formGroup,
              disabled: disabled
            }"
          ></ng-container>
        </form>

        <!-- Formulario Template-Driven (para backwards compatibility) -->
        <form *ngIf="!formGroup" #form="ngForm" class="form-container" (ngModelChange)="onModelChange()">
          <ng-container
            [ngTemplateOutlet]="formFieldsTpl"
            [ngTemplateOutletContext]="{
              form: form,
              disabled: disabled
            }"
          ></ng-container>
        </form>

        <!-- Botones -->
        <app-form-buttons
          [service]="service"
          [id]="id"
          [form]="formGroup"
          (cancel)="onCancelForm()"
        ></app-form-buttons>
      </p-tabpanel>

      <!-- === TABLA === -->
      <p-tabpanel value="1">
        <app-generic-table
          [data]="data"
          [columns]="columns"
          [acciones]="true"
          (edit)="onEdit($event, form)"
          (view)="onView($event)"
          (delete)="onDelete($event)"
          [globalFilterFields]="filters"
        ></app-generic-table>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
