 <div class="grid">
        <!-- CARD 1 -->
        <div class="col-12 md:col-6 lg:col-3">
          <p-card>
            <div class="card-header">
              <span class="card-title">Orders</span>
              <button pButton type="button" icon="pi pi-shopping-cart" title="order"
                class="p-button-rounded p-button-text p-button-sm cart-btn"></button>
            </div>
            <div class="card-content">
              <h2 class="card-number">152</h2>
              <p class="card-subtext"><span class="new-count">24 new</span> since last visit</p>
            </div>
          </p-card>
        </div>
        <!-- CARD 2 -->
        <div class="col-12 md:col-6 lg:col-3">
          <p-card>
            <div class="card-header">
              <span class="card-title">Revenue</span>
              <button pButton type="button" icon="pi pi-dollar" title="revenue"
                class="p-button-rounded p-button-text p-button-sm cart-btn"></button>
            </div>
            <div class="card-content">
              <h2 class="card-number">$2,100</h2>
              <p class="card-subtext"><span class="new-count">+52%</span> since last week</p>
            </div>
          </p-card>
        </div>
        <!-- CARD 3 -->
        <div class="col-12 md:col-6 lg:col-3">
          <p-card>
            <div class="card-header">
              <span class="card-title">Customers</span>
              <button pButton type="button" icon="pi pi-users" title="customers"
                class="p-button-rounded p-button-text p-button-sm cart-btn"></button>
            </div>
            <div class="card-content">
              <h2 class="card-number">28,441</h2>
              <p class="card-subtext"><span class="new-count">520</span> newly registered</p>
            </div>
          </p-card>
        </div>
        <!-- CARD 4 -->
        <div class="col-12 md:col-6 lg:col-3">
          <p-card>
            <div class="card-header">
              <span class="card-title">Comments</span>
              <button pButton type="button" icon="pi pi-comments" title="coments"
                class="p-button-rounded p-button-text p-button-sm cart-btn"></button>
            </div>
            <div class="card-content">
              <h2 class="card-number">152 Unread</h2>
              <p class="card-subtext"><span class="new-count">85</span> responded</p>
            </div>
          </p-card>
        </div>
      </div>
